//カテゴリーモーダル
#category-mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#category-modal {
  background: #fff;
  color: #555;
  width: 600px;
  border: solid 1px $border_color;
  border-top: solid 5px $green;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
  h2 {
    color: $font_color;
    font-size: 15px;
    padding: 5px 10px;
    border-bottom: 1px solid $green;
  }
  .upper__field, .row__field {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    &__container, &__container {
      width: 25%;
      .index {
        font-weight: bold;
        font-size: 15px;
        color: $green;
        padding-bottom: 5px;
      }
      .contents {
        padding-left: 10px;
      }
    }
  }
  #close-category-modal.btn {
    width: 70px;
    float: right;
  }
}

#category-modal p {
  line-height: 30px;
}

#category-mask.hidden {
  display: none;
}

#category-modal.hidden {
  transform: translate(0, -500px);
}