//新規登録・ログイン共通
.devise__container__form, .session__container__form{
  background-color: #ffffff;
  border: solid 1px $border_color;
  border-radius: 3px;
  color: $font_color;
  padding-left: 50px;
  margin-bottom: 30px;
  input {
    width: 300px;
    padding: 3px;
    height: 30px;
  }
  &__title {
    padding: 25px 0px 15px;
    h2 {
      font-size: 22px;
      font-weight: bold;
    }
    p {
      font-size: 15px;
    }
  }
  a {
    border-bottom: 1px solid;
  }
  &__name__field {
    h3 {
      font-size: 17px;
    }
    p {
      font-size: 13px;
      padding-bottom: 5px;
    }
  }
  &__email__field {
    h3 {
      font-size: 17px;
      padding-top: 5px;
    }
  }
  &__birth__field {
    h3 {
      font-size: 17px;
      padding-top: 5px;
    }
    #select_birth_year {
      width: 100px;
      height: 30px;
    }
    #select_birth_month, #select_birth_day {
      width: 55px;
      height: 30px;
    }
  }
  &__password__field {
    padding: 5px 0px;
    p {
      font-size: 13px;
    }
    h3 {
      font-size: 17px;
    }
  }
  &__submit__field {
    padding: 15px 0px 30px;
    .registration, .session {
      background-color: $orenge;
      color: #fff;
      font-weight: bold;
      text-align: center;
      width: 300px;
      height: 33px;
      display: inline-block;
    }
  }
  &__comment {
    padding-bottom: 10px;
    p {
      font-size: 13px;   
    }
  }
}
//ユーザー情報編集
.users__edit__form {
  background-color: #ffffff;
  border: solid 1px $border_color;
  border-radius: 3px;
  color: $font_color;
  padding-left: 50px;
  margin-bottom: 30px;
  input {
    width: 300px;
    padding: 3px;
    height: 30px;
  }
  textarea {
    width: 300px;
  }
  &__title {
    padding: 25px 0px 20px;
    h2 {
      font-size: 22px;
      font-weight: bold;
    }
    h3 {
      font-size: 17px;
      padding-top: 10px;
    }
    p {
      font-size: 15px;
      padding-bottom: 5px;
    }
  }
  &__image__field {
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
    }
    img:hover {
      opacity: 0.7;
    }
  }
  &__submit__field {
    padding: 15px 0px 30px;
    .edit {
      background-color: $orenge;
      color: #fff;
      font-weight: bold;
      text-align: center;
      width: 300px;
      height: 33px;
      display: block;
    }
    a {
      padding-top: 10px;
      border-bottom: 1px solid;
      display: inline-block;
    }
  }
}