//レシピ投稿ページ
.hidden {
  display: none;
}
#hidden-message {
  display: none;
  color: $alert_orange;
}
input.hidden {
  display: none;
}
textarea.hidden {
  display: none;
}
img#top_img_prev, img.top_present_img {
  width: 280px;
}
#hidden-background-text, #hidden-point-text {
  display: none;
}
.new__recipe__form {
  border: solid 1px $border_color;
  border-radius: 3px;
  background-color: #ffffff;
}
.top-image-box {
  width: 280px;
  height: 383px;
  border: 1px solid ;
  background-color: $main-color;
  opacity: 0.4;
  font-weight: bold;
  p {
    font-weight: normal;
  }  
}
#remove-btn, #remove-btn2, #remove-btn3, #remove-btn4, #remove-btn5, #remove-btn6 {
  margin-bottom: 2px;
  width: 70px;
  border: 1px solid $border_color;
  border-radius: 2px;
  font-size: 12px;
  padding-left: 5px;
  background-color: #ececec;
  opacity: 0.6;
  cursor: pointer;
}
.new__recipe__form__body {
  padding-left: 15px;
  .title__field {
    padding: 30px 0px 10px;
    input {
      width: 280px;
      height: 30px;
      padding: 3px;
      background-color: #ffffd3;
    }
  }
  .new__recipe__form__body--flex{
    display: flex;
  }
  .top-image-field {
    width: 280px;
    .fas {
      padding-top: 70px;
      padding-left: 10px;
    }
    p {
      font-size: 15px;
      padding-left: 10px;
    }
  } 
  .right-contents {
    margin-top: 30px;
    margin-left: 30px;
    .introduction__field {
      textarea {
        height: 100px;
        width: 350px;
        border-radius: 3px;
        background-color: #ffffd3;
        padding: 3px;
      }
    }
    .foods-field {
      h3 {
        padding: 3px;
        color: $font_color;
      }
      span {
        margin-top: 5px;
        margin-bottom: 3px;
        background-color: $main_color;
        width: 170px;
        height: 25px;
        padding: 3px;
        border-radius: 3px;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        color: $font_color;
      }
      .left {
        margin-left: 3px;
      }
      .right {
        margin-left: 1px;
      }
      input {
        padding: 3px;
        font-size: 15px;
        background-color: #ffffd3;
      }
      .js-file_group {
        margin-left: 3px;
      }
      #add-btn {
        margin-top: 5px;
        margin-left: 3px;
        width: 70px;
        border: 1px solid $border_color;
        border-radius: 2px;
        font-size: 15px;
        padding-left: 5px;
        background-color: #ececec;
        opacity: 0.6;
        cursor: pointer;
      }
      .far {
        background-color: #ececec;
        opacity: 0.6;
      }
    }    
  }
}
.makes-field {
  h3 {
    padding-top: 5px;
    color: $font_color;
  }
  &-container {
    display: flex;
    flex-wrap: wrap;
    .makes-content {
      margin-left: 10px;
      .image-box {
        width: 140px;
        height: 190px;
        border: 1px solid;
        background-color: $main-color;
        opacity: 0.4;
        font-size: 15px;
        padding: 3px;
      }
      .text-box {
        textarea {
          width: 140px;
          height: 120px;
          background-color: #ffffd3;
          padding: 3px;
        }
      }
    }
  }
}
.textarea__field {
  display: flex;
  margin-top: 10px;
  .field--left, .field--right {
    margin-left: 20px;
  }
  p, i {
    color: $font_color;
  }
  textarea {
    width: 300px;
    height: 100px;
  }
  .btn {
    margin-top: 5px;
    margin-left: 3px;
    width: 40px;
    border: 1px solid $border_color;
    border-radius: 2px;
    font-size: 15px;
    padding-left: 5px;
    background-color: #ececec;
    opacity: 0.6;
  }
}
.submit-field {
  padding: 30px;
  text-align: center;
  .btn {
    width: 300px;
    height: 50px;
    background-color: $orenge;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }
  .btn:hover {
    opacity: 0.8;
  }
}