.side__bar  {
  &__container {
    width: 250px;
    background-color: #fff;
    border: solid 1px $border_color;
    border-radius: 3px;
    margin-left: 20px;
    padding: 10px 10px 10px;
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 20px;
      border-bottom: 1px solid;
      margin-bottom: 5px;
    }
    h3 {
      font-size: 15px;
    }
    p {
      font-size: 10px;
    }
    p.orenge {
      color: $orenge;
    }
    img {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      object-fit: cover;
    }
    a {
      border-bottom: solid 1px;
    }
  }
}