* {
  box-sizing: border-box;
}
body {
  background-color: $main_color;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin:0 auto;
}
//共通パーツ
a {
  text-decoration: none;
  color: $font_color;
}
a:hover {
   color: #ff8000;
   border-bottom: 1px solid;
}
.btn {
  cursor: pointer;
  border-radius: 3px;
}
.btn:hover {
   color: #ff8000;
}
input {
  border-radius: 3px;
  border: 1px solid $border_color;
}
textarea {
  border-radius: 3px;
  border: 1px solid $border_color;
}
.pagination {
  width: 200px;
  margin: 0 auto;
  font-weight: bold;
  color: $sub_font_color;
  a {
    border-bottom: 1px solid;
  }
}

.field--flex {
  display: flex;
}
.hideen {
  display: none;
 }

//ヘッダー
header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;  
  background-color: #ffffff;
  height: 35px;
  border-bottom: 1px solid $border_color;
  line-height: 34px;
  z-index: 2;
  .container {
    padding: 0 5px;
  }
  .user__field {
    float: right;
  }
}
.service__header {
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  padding: 35px 5px 0;
  
  .link-logo {
    a {
      display: flex;
      h1 {
        font-size: 25px;
        font-weight: bold;
        margin-top: 5px;
        margin-left: 5px;
      }
      p {
        margin-left: 5px;
        font-size: 15px;
      }
      img {
        height: 60px;
        margin: 5px 5px;
      }
    }
  }
  .search__field {
    #keyword {
      width: 290px;
      margin-top: 5px;
      padding: 3px;
    }
    .search-btn {
      height: 32px;
      padding: 0 7px;
    }
    .search-btn:hover {
      opacity: 0.7;
      cursor: pointer;
    }
    
    #open-category-modal {
      color: $font_color;
      width: 180px;
      margin-left: 10px;
    }
    #open-category-modal:hover { 
      color: #ff8000; 
    }
  }
  //サービスボタン
  .service__field {
    line-height: 70px;
    
    font-size: 15px;
    .btn {
      background-color: $green;
      color: #ffffff;
      padding: 10px 7px;
      margin-left: 5px;
    }
    .btn:hover {
      opacity: 0.8;
    }
  }
}
.header__image {
  background-image: image-url('fruits.jpg');
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  background-size: cover;
  border-radius: 3px;
  border: solid 1px $border_color;
  padding: 10px 15px 10px;
  color: $font_color;
  h1 {
    font-size: 25px;
    font-weight: bold;
  }
  h2 {
    font-size: 20px;
    border-bottom: solid 2px;
    display: inline-block;
    margin-bottom: 3px;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 13px;
  }
  .orenge {
    color: $orenge;
    font-weight: bold;
  }
  span {
    font-size: 15px;
  }
  a {
    font-size: 15px;
    border-bottom: 1px solid;
  }
  .login {
    color: $orenge;
    font-size: 15px;
    border-bottom: 1px solid;
  }
  .login:hover {
    opacity: 0.7;
  }
  &__contents__users__field--flex {
    display: flex;
    &__image {
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        border: solid 3px $green;
      }
    }
    &__introduction {
      padding-left: 10px;
      a {
        display: inline-block;
        padding-left: 5px;
      }
    }
  }

}
//トップページ
.index__recipe__page {
  background-color: #ffffff;
  border: solid 1px $border_color;
  border-top: solid 5px $green;
  border-radius: 5px;
  .title__field {
    border-bottom: 1px solid $border_color;
    font-size: 20px;
    padding: 5px 10px;
    color: $green;
    font-weight: bold;
  }
  .sub__title {
    background-color: $main_color;
    padding: 5px;
  }
  &__ranks__field {
    &--flex {
      display: flex;
      flex-wrap: wrap;
    }
    &__first__box {
      margin: 15px;
      .image-box {
        position: relative;
        i {
          position: absolute;
          top: -7px;
          left: -3px;
          font-size: 40px;
          color: gold;
          background-color: #ffffff;
          padding: 3px;
          border-radius: 5px;
        }
        span {
          position: absolute;
          top: 4px;
          left: 19px;
          color: #ffffff;
          font-size: 20px;
        }
        img {
          height: 200px;
          width: 200px;
          object-fit: cover;
          border-radius: 5px;
        }
      }
      .image-box:hover {opacity: 0.7;}
      .title-box {
        color: $green;
      }
      span {
        font-size: 13px;
        color: $font_color;
      }
    }
    &__after__box {
      margin: 15px;
      .image-box {
        position: relative;
        i {
          position: absolute;
          top: -7px;
          left: -3px;
          font-size: 30px;
          color: gold;
          background-color: #ffffff;
          padding: 3px;
          border-radius: 5px;
        }
        #silver {color: silver;}
        #bronze {color: goldenrod;}
        #fource {color: $green;}
        #fifth {color: $orenge;}
        #sixth {color: rgb(243, 151, 151);}
        span {
          position: absolute;
          top: 3px;
          left: 15px;
          color: #ffffff;
          font-size: 13px;
        }
        img {
          height: 120px;
          width: 120px;
          object-fit: cover;
          border-radius: 5px;
        }
      }
      .image-box:hover {opacity: 0.7;}
      .title-box {
        color: $green;
      }
      span {
        font-size: 13px;
        color: $font_color;
      }
    }
  }
  //カテゴリー一覧
  &__category__field {
    border-top: solid 1px $border_color;
    #main_color {
      background-color: $main_color;
    }
    h2 {
      color: $font_color;
      font-size: 15px;
    }
    .upper__field, .row__field {
      display: flex;
      padding-left: 30px;
      &__container {
        width: 25%;
        .index {
          font-weight: bold;
          font-size: 20px;
          color: $font_color;
          padding-top: 10px;
        }
        .contents {
          padding-left: 15px;
          padding-bottom: 20px;
        }
      }
    }
  }
  //新着投稿
  &__new__field {
    border-top: solid 5px $green;
    border-radius: 5px;
    &--flex {
      display: flex;
      flex-wrap: wrap;
      &__recipe__box {
        width: 150px;
        margin: 7px;
        .image-box {
          img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 5px;
          }
        }
        .image-box:hover {opacity: 0.7;}
        .title-box {
          color: $green;
        }
        span {
          font-size: 10px;
          color: $font_color;
        }
        a {
          color: $orenge;
        }
        a:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
//フッター
footer {
  background-color: $main_color;
  padding: 5px;
  text-align: center;
  p {
    padding-bottom: 10px;
  }
}