@media (max-width: 1000px) {
  //マイページヘッダー
  .users__header {
    &__container {
      background-color: #ffffff;
      border-radius: 3px;
      border: 1px solid $border_color;
      &__image {
        background-image: image-url('table.jpg');
        background-size: cover;
        height: 150px;
        opacity: 0.7;
        
      }
      &__profile {
        padding-bottom: 5px;
        &--left {
          float: left;
          height: 70px;
          width: 160px;
          position: relative;
          img {
            height: 140px;
            width: 140px;
            object-fit: cover;
            border-radius: 50%;
            border: solid 5px #fff;
            position: absolute;
            top: -90px;
            left: 20px;
          }
        }
        &--right {
          &__name {
            padding-top: 3px;
            font-size: 25px;
            color: $font_color;
            span {
              font-size: 20px;
            }
          }
          &__comment {
            color: $sub_font_color;
            font-size: 17px;
          }
          &__edit {
            a {
              border-bottom: 1px solid;
            }
            
          }  
        }
      }
    }
  }
  //マイページ・トップ
  .users__mypage {
    background-color: #ffffff;
    border: solid 1px $border_color;
    border-radius: 3px;
    color: $font_color;
    &__tabs {
      display: flex;
      border-bottom: 1px solid $border_color;
      &__tab {
        padding: 5px 20px;
      }
      .active {
        border-bottom: 5px solid $orenge;
        font-weight: bold;
      }
    }
    &__container {
      padding-bottom: 10px;
      border-bottom: solid 1px $border_color;
      &__title {
        padding: 5px 20px;
        border-bottom: 1px solid $border_color;
        a {
          border-bottom: solid 1px;
        }
      }
      &__recipes__box {
        display: flex;
        flex-wrap: wrap;
        &__recipe {
          margin: 5px;
          width: 15%;
          &__image {
            img {
              height: 150px;
              width: 100%;
              object-fit: cover;
              border-radius: 5px;
            }
            img:hover {
              opacity: 0.7;
            }
          }
          &__title {
            color: $green;
          }
        }
      }
    }
    &__row__container {
      padding-bottom: 20px;
      &__title {
        padding: 5px 20px;
        border-bottom: 1px solid $border_color;
        a {
          border-bottom: solid 1px;
        }
      }
      &__reports__box {
        display: flex;
        flex-wrap: wrap;
        &__report {
          width: 15%;
          margin-top: 5px;
          margin-left: 7px;
          border: solid 1px $border_color;
          border-radius: 3px;
          padding: 5px;
          &__image {
            img {
              width: 100%;
            }
          }
          &__title {
            a {
              color: $green;
              border-bottom: solid 1px;
              font-size: 15px;
            }
            a:hover {
              opacity: 0.7;
            }
          }
          span {
            font-size: 13px;
            color: $sub_font_color;
          }
          &__comment {
            
            font-size: 15px;
          }
        }
      }
    }
    .message {
      padding-left: 20px;
    }
  }
  //マイページ・レシピ一覧
  .users__mypage__container {
    a:hover {
      opacity: 0.8;
    }
    &__recipes__container {
      &__content {
        margin: 10px 20px;
        display: flex;
        &--left__box {
          img {
            height: 180px;
            width: 120px;
            object-fit: cover;
          }
        }
        &--right__box {
          margin-left: 20px;
          &--upper {
            a {
              border-bottom: 1px solid;
            }
            a.title-link {
              color: $green;
              font-size: 25px;
              font-weight: bold;
            }
            span {
              color: $font_color;
              font-size: 15px;
            }
            a.user-link {
              color: $orenge;
              font-size: 20px;
            }
          }
          &--center {
            color: $font_color;
            width: 80%;
          }
          &--row {
            color: $sub_font_color;
              font-size: 15px;
              padding-bottom: 5px;
          }
          &--last {
            .delete-btn, .edit-btn {
              display: inline-block;
              margin-left: 5px;
              height: 25px;
              line-height: 25px;
              background-color: $orenge;
              padding: 0px 10px;
              color: #ffffff;
              font-weight: bold;
              border-radius: 2px;;
            }
          }
        }
      }
    }
  }
  //マイページ・つくれぽ一覧
  .users__mypage__row__container {
    h3 {
      color: $font_color;
    }
    .date-box {
      font-size: 10px;
      float: right;
    }
    .delete-btn {
      font-size: 13px;
      border-radius: 2px;
      background-color: $orenge;
      height: 20px;
      line-height: 20px;
      padding: 0px 3px;
      color: #fff;
      display: inline-block;
    }
    a:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: 670px) {
  //マイページヘッダー
.users__header {
  padding-top: 138px;
  &__container {
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid $border_color;
    &__image {
      background-image: image-url('table.jpg');
      background-color:rgba(255,255,255,0.5);
      background-blend-mode:lighten;
      background-size: cover;
      height: 150px;
      opacity: 1;
    }
    &__profile {
      padding-bottom: 5px;
      &--left {
        float: left;
        height: 70px;
        width: 130px;
        position: relative;
        img {
          height: 110px;
          width: 110px;
          object-fit: cover;
          border-radius: 50%;
          border: solid 5px #fff;
          position: absolute;
          top: -40px;
          left: 10px;
        }
      }
      &--right {
        &__name {
          padding-top: 3px;
          font-size: 25px;
          color: $font_color;
          span {
            font-size: 20px;
          }
        }
        &__comment {
          color: $sub_font_color;
          font-size: 17px;
        }
        &__edit {
          a {
            border-bottom: 1px solid;
          }
          
        }  
      }
    }
  }
}
//マイページ・トップ
.users__mypage {
  background-color: #ffffff;
  border: solid 1px $border_color;
  border-radius: 3px;
  color: $font_color;
  &__tabs {
    display: flex;
    border-bottom: 1px solid $border_color;
    &__tab {
      padding: 5px 20px;
    }
    .active {
      border-bottom: 5px solid $orenge;
      font-weight: bold;
    }
  }
  &__container {
    padding-bottom: 10px;
    border-bottom: solid 1px $border_color;
    &__title {
      padding: 5px 20px;
      border-bottom: 1px solid $border_color;
      a {
        border-bottom: solid 1px;
      }
    }
    &__recipes__box {
      display: flex;
      flex-wrap: wrap;
      &__recipe {
        margin: 5px;
        width: 47%;
        &__image {
          img {
            height: 150px;
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
          }
          img:hover {
            opacity: 0.7;
          }
        }
        &__title {
          color: $green;
        }
      }
    }
  }
  &__row__container {
    padding-bottom: 20px;
    &__title {
      padding: 5px 20px;
      border-bottom: 1px solid $border_color;
      a {
        border-bottom: solid 1px;
      }
    }
    &__reports__box {
      display: flex;
      flex-wrap: wrap;
      &__report {
        width: 47%;
        margin-top: 5px;
        margin-left: 7px;
        border: solid 1px $border_color;
        border-radius: 3px;
        padding: 5px;
        &__image {
          img {
            width: 100%;
          }
        }
        &__title {
          a {
            color: $green;
            border-bottom: solid 1px;
            font-size: 15px;
          }
          a:hover {
            opacity: 0.7;
          }
        }
        span {
          font-size: 13px;
          color: $sub_font_color;
        }
        &__comment {
          
          font-size: 15px;
        }
      }
    }
  }
  .message {
    padding-left: 20px;
  }
}
//マイページ・レシピ一覧
.users__mypage__container {
  a:hover {
    opacity: 0.8;
  }
  &__recipes__container {
    &__content {
      margin: 10px 20px;
      display: flex;
      &--left__box {
        img {
          height: 180px;
          width: 120px;
          object-fit: cover;
        }
      }
      &--right__box {
        margin-left: 20px;
        &--upper {
          a {
            border-bottom: 1px solid;
          }
          a.title-link {
            color: $green;
            font-size: 21px;
            font-weight: bold;
          }
          span {
            color: $font_color;
            font-size: 15px;
          }
          a.user-link {
            color: $orenge;
            font-size: 20px;
          }
        }
        &--center {
          color: $font_color;
          width: 90%;
        }
        &--row {
          color: $sub_font_color;
            font-size: 15px;
            padding-bottom: 5px;
        }
        &--last {
          .delete-btn, .edit-btn {
            display: inline-block;
            margin-left: 5px;
            height: 25px;
            line-height: 25px;
            background-color: $orenge;
            padding: 0px 10px;
            color: #ffffff;
            font-weight: bold;
            border-radius: 2px;;
          }
        }
      }
    }
  }
}
//マイページ・つくれぽ一覧
.users__mypage__row__container {
  h3 {
    color: $font_color;
  }
  .date-box {
    font-size: 10px;
    float: right;
  }
  .delete-btn {
    font-size: 13px;
    border-radius: 2px;
    background-color: $orenge;
    height: 20px;
    line-height: 20px;
    padding: 0px 3px;
    color: #fff;
    display: inline-block;
  }
  a:hover {
    opacity: 0.8;
  }
}

}