$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
$main_color: #f7f3e8;
$border_color: #e3dcca;
$font_color: #401c00;
$sub_font_color: #cfaa80;
$green: #7d940a;
$orenge: #ff7f00;
