.notification {
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
  }
  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
}
@media (max-width: 670px) {
  .notification {
    position: fixed;
    top: 138px;
    width: 100%;
    font-size: 15px;
    opacity: 0.8;
  }
}