.user__form
  .container
    .users__form__body
      %h2 ログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          %p 登録しているメールアドレス
          .field-input
            = f.email_field :email, autofocus: true
        .field
          %p パスワード
          .field-input
            = f.password_field :password, autocomplete: "off", placeholder: "パスワード(英数字8文字以上)"
        .field
          = f.submit "ログイン", class: 'btn'
