.side__bar
  .side__bar__container
    .side__bar__container__title
      %h1 ご覧頂きありがとうございます！
    .side__bar__container__conents
      .side__bar__container__contents__content
        %h2 お試し頂きたい機能
        %h3 レシピ詳細表示
        %h3 レシピ検索機能
        %p ※『豚肉』でたくさん出てきます。
        %p.orenge ※以下はログイン後お試しいただけます。
        %p.orenge ※テストアカウントが貼り付けてあります。
        %h3 レシピ投稿機能
        %h3 マイレシピ機能
        %p レシピ詳細の右上ボタンクリックで保存
        %h3 マイページ機能 
        %p ヘッダーのユーザーネームをクリック
        %p その他のページも是非お試しください！
      .side__bar__container__contents__content__users__field
        %h2 アプリ作成者
        .side__bar__container__contents__content__users__field__image
          = image_tag "hiroki.jpg", width: "200px"
        .side__bar__container__contents__content__users__field__introduction
          %h4 相原 大樹
          %span AIHARA HIROKI
          %P 前職：イタリアンコック
          %p 絶賛エンジニア転職活動中！
          %a(href="https://twitter.com/hirokiaihara1")
            %i.fab.fa-twitter-square
              Twitter 学習の記録
          %a(href="https://github.com/hirokiaihara")
            %i.fab.fa-github
              GitHub 